@import '../mixins/font-size';
@import '../functions/to-rem.scss';
@import '../base/variables';

.card {
  background-color: white;
  padding: to-rem(10) to-rem(20) to-rem(10) to-rem(20);
}

.card__title {
  @include font-size(25px);
  color: $primary;
  font-weight: 700;
  text-align: center;
  margin-bottom: to-rem(10);
}