.list-item {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: to-rem(10);
}

.list-item__icon {
  color: $secondary;
}  

.list-item__text {
  @include font-size(20px);
}
