.home-screen {
  background-color: $primary;
  color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.home-screen__view {
  height: 100%;
  width: 100%;
  flex: 1;
  padding: to-rem(20)
}

.home-screen__text {
  @include font-size(20px);
  background-color: white;
}

.home-screen__gap {
  background-color: $primary;
  height: to-rem(50);
}

.home-screen__icon {
  padding: to-rem(20);
}
