.splash-screen {
  background-color: $primary;
  flex: 1;
}

.splash-screen__top {
  padding: to-rem(20);
  height: 70%;
  flex: 1;
  justify-content: space-around;
}

.splash-screen__bottom {
  background-color: white;
  height: 30%; 
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.splash-screen__title {
  @include font-size(60px);
  font-weight: 700;
  color: white;
}

.splash-screen__subtitle {
  @include font-size(25px);
  color: white;
}

.clock {
  color: $primary;
}